@font-face {
    font-family: 'Oleo Script';
    src: url(OleoScript-Regular.ttf);
}

body{
    color: #333;
    font-family: sans-serif;
    background-color: #fffccd;
    width: 100%;
}



*{
    margin: 0;
    padding: 0;
    
}

img{
    width: 300px;
    height: 300px;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: max-content;
    transition: .5s;
    background-color: #fff;
    z-index: 20;
    
}




header.sticky{
    top: -18%;
    background-color: #fff;
    backdrop-filter: blur(5px);
}


header.sticky:hover{
    top: 0;
}

header .menu ul li .logo{
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    z-index: 10;
    width: 7em;
    height: 3em;
    overflow: hidden;
    transform: scale(.9);
    left: 8px;
}




header .menu ul li .logo a img{
   width: 100%;
   object-fit: contain;
   position: relative;
   bottom: 160%;
   transform: scale(1);
   
   
}

.menu-res{
    display: none;
}


.menu ul{
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
    background-color: inherit;
    align-items: center;
    background-color: inherit;
    
   
}




.menu ul li{
    margin: 0 2em;
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
    height: max-content;
    transition: .2s;
    z-index: 10;
}

.menu ul li:nth-child(3){
    font-size: 1.5em;
    

}

.marker{
    position: absolute;
    top: 7em;
    left: 270px;
    transition: 0.15s;
    z-index: 1;
    height: 2em;
    overflow: hidden;
    width: 11em;
    transform: scaleX(1.5);
    background: transparent;

}

.marker img{
    position: relative;
    bottom: 9em;
    left: 0;
    width: 100%;
    filter: invert(100%);
    transform: rotate(180deg);
    background: transparent;
    
}

.menu ul li:hover{
    border-bottom: 3px #333 solid;
}


.menu ul li:nth-child(3){

    position: relative;
    margin: 1em 2em;
    border-bottom: none;

}

.menu ul li a{
    text-decoration: none;
    color: #333;
}

.sec1{
    margin: 4em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10em;
}

.sec1 img{
    margin: 1em;
    width: 500px;
    object-fit: cover;
    border-radius: 5px;
    transition: 1s;
    transform: translateX(-100px);
    opacity: 0;
    z-index: 0;
}

.sec1 img[data-scroll="in"]{
    transform: translateX(0);
    opacity: 1;
    }

.sec1 article{
    width: 500px;
    height: 300px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 2s;
    color: #333;
    
}

.sec1 article[data-scroll="in"]{
    opacity: 1;
    
    }

.imagen{
    background: url(mon1.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 95%;
    margin: 3em 2.5%;
    height: 300px;
    border-radius: 5px;

}

.sec2{
    margin: 3em 2em;
    display: flex;
    justify-content: space-around;
}

.sec2 .buttons{
    display: flex;
    justify-content: space-around;
    
   
}

.sec2 .buttons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}

.sec2 .buttons div button{
    font-size: 1.5em;
    background: transparent;
    border: 2px #333 solid;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    padding: .5em;
    box-shadow: 3px 3px 0px #333;
}

.sec2 .buttons div button:hover{
    background-color: #FFF7B0;
}

.sec2 .buttons div button:active{
    box-shadow: .5px .5px 0px;
}



.sec2 .buttons div p{
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
    
}

.sec2 .imgs{
    display: flex;
    justify-content: space-between;
    
}

.sec2 .imgs img{
    width: 200px;
    height: 150px;
    margin: 0 2em;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0;
    transition: 2s;
}

.sec2 .imgs img[data-scroll="in"]{
    opacity: 1;
    
    }

footer{
    margin: 3em 2em;
    background-color: #444;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.menu2 {
    display: none;
}

.menu2.active{
    top: 0%;
}


@media (max-width: 600px){

    *{
        overflow-x: hidden;
        box-sizing: border-box;
    }

    body{
        width: 100%;
        
    }

    header {
        margin: 0;
        justify-content: space-between;
        height: 5em;
    }

    header.dark {
        background-color: #333;
    }

    header.sticky{
        top: 0;
        background-color: rgba(255, 255, 255, 0.829);
        backdrop-filter: blur(5px);
    }
    
  
    .menu ul li{
        display: none;
    }

    .menu ul li:nth-child(3){
        display: inline-block;
        left: -10%;
        margin: 0 1em;
        transform: scale(.7);
        
    }


    .marker{
        display: none;
    }

    .menu-res{
        display: inline-block;
        width: 15%;
        height: auto;
        cursor: pointer;
        position: absolute;
        top: 0%;
        right: 0%;
        overflow: hidden;
        margin: .5em 1em;
        
        transition: .5s;
    }

    .menu-res.anim{
        transform: rotate(180deg);
      
    }

    .menu-res img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
       
    }

    .menu2{
        display: inline-block;
        position: fixed;
        width: 100%;
        height: calc(100% - 5em);
        background-color: #333;
        color: #fff;
        z-index: 30;
        margin-top: 5em;
        overflow: hidden;
        padding: 1em;
        top: -110%;
        transition: .5s;
    }

    .menu2 div{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4,22%);
        gap: 1em;
        width: 100%;
        height: 100%;
        text-decoration: none;
        grid-auto-flow: column;
        overflow: visible;
    }

    .menu2 div a {
        background-color: #ffd45f;
        font-size: 2em;
        display: flex;
        padding: 0%;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        color: #333;
        text-decoration: none;
        overflow: visible;
        font-weight: 700;
    
        
    }

    .menu2 div a:first-child{
        grid-column-start: span 2;
        width: 95%;
    }

    .menu2 div a:nth-child(2){
        height: 150%;
    
    }

    .menu2 div a:nth-child(3){
        margin-top: 3em;
        clip-path: circle(50% at 50% 50%);
        height: 125%;
        width: 90%;
    
    }

    .menu2 div a:nth-child(4){
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        width: 90%;
        position: relative;
    }

    .menu2 div a:nth-child(4) span{
        transform: rotate(-90deg);
    }

    

    

    


    .sec1{
        margin-top: 5em;
    }

    .sec1 img{
        
        height: 200px;
        object-fit: cover;
        
    }

    .sec1 article{
        margin-top: 1em;
        width: 400px;
        height: 300px;
        font-size: 1.5em;
        text-align: center;
        display: flex;
        align-items: center;
        
    }

    .sec2{
        flex-wrap: wrap;
    }

    .sec2 .imgs{
        margin-top: 1em;
    }


    .sec2 .imgs img{
        
        width: 150px; 
        height: 100px;
    }

    .sec2 .buttons div {
        overflow-x: visible;
    }

   


}





