@font-face {
    font-family: 'Oleo Script';
    src: url(OleoScript-Regular.ttf);
}

body{
    color: #333;
    font-family: sans-serif;
    background-color: #fffccd;
    width: 100%;
}



*{
    margin: 0;
    padding: 0;
    
}

img{
    width: 300px;
    height: 300px;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: max-content;
    transition: .5s;
    background-color: #fff;
    z-index: 20;
    
}




header.sticky{
    top: -18%;
    background-color: #fff;
    backdrop-filter: blur(5px);
}


header.sticky:hover{
    top: 0;
}

header .menu ul li .logo{
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    z-index: 10;
    width: 7em;
    height: 3em;
    overflow: hidden;
    transform: scale(.9);
    left: 8px;
}




header .menu ul li .logo a img{
   width: 100%;
   object-fit: contain;
   position: relative;
   bottom: 160%;
   transform: scale(1);
   
   
}

.menu-res{
    display: none;
}


.menu ul{
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
    background-color: inherit;
    align-items: center;
    background-color: inherit;
    
   
}




.menu ul li{
    margin: 0 2em;
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
    height: max-content;
    transition: .2s;
    z-index: 10;
}

.menu ul li:nth-child(3){
    font-size: 1.5em;
    

}

.marker{
    position: absolute;
    top: 7em;
    left: 270px;
    transition: 0.15s;
    z-index: 1;
    height: 2em;
    overflow: hidden;
    width: 11em;
    transform: scaleX(1.5);
    background: transparent;

}

.marker img{
    position: relative;
    bottom: 9em;
    left: 0;
    width: 100%;
    filter: invert(100%);
    transform: rotate(180deg);
    background: transparent;
    
}

.menu ul li:hover{
    border-bottom: 3px #333 solid;
}


.menu ul li:nth-child(3){

    position: relative;
    margin: 1em 2em;
    border-bottom: none;

}

.menu ul li a{
    text-decoration: none;
    color: #333;
}


div.wait{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 12em;
}

div.wait div{
    overflow: hidden;
    width: 300px;
    height: 300px;
    position: relative;

}
div.wait div img{
    width: 100%;
    position: relative;
    top: -10px;
}

div.wait div .star{
    overflow: hidden;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20%;
    right: 10%;
 
}


div.wait div .star img{
   width: 60px;
   height: 60px;
   position: relative;
    top: 10px;
}



div.wait h2{
    margin: 2em;
    font-size: 3em;
}


#menubox{
    position: fixed;
    z-index: 1000;
    top: 5%;
    width: 90%;
    height: 90%;
    left: 5%;
    background-color: rgba(255, 244, 147, 0.658);
    display: none;
    border-radius: 5px;
    backdrop-filter: blur(15px);
}


 #menubox.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x{
    font-family: monospace;
    font-weight: 900;
    font-size: 7em;
    line-height: 0%;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 1em;
    height: 1em;
}

.x.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


ul.active{
    margin: 0%;
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    align-items: flex-start;
    
}


#menubox ul.active li{
    position: relative;
    font-size: 2em;
    width: 4em;
    height: max-content;
    cursor: pointer;
    line-height: 1.7em;
    font-weight: 800;
    overflow: visible;
    margin-left: 20%;
    width: max-content;
    
    
}


.menu2 {
    display: none;
}

.menu2.active{
    top: 0%;
}


@media (max-width: 600px){

    *{
        overflow-x: hidden;
        box-sizing: border-box;
    }

    body{
        width: 100%;
        
    }

    header {
        margin: 0;
        justify-content: space-between;
        height: 5em;
    }

    header.sticky{
        top: 0;
        background-color: rgba(255, 255, 255, 0.829);
        backdrop-filter: blur(5px);
    }
    
  
    .menu ul li{
        display: none;
    }

    .menu ul li:nth-child(3){
        display: inline-block;
        left: -10%;
        margin: 0 1em;
        transform: scale(.7);
        
    }


    .marker{
        display: none;
    }

    .menu-res{
        display: inline-block;
        width: 15%;
        height: auto;
        cursor: pointer;
        position: absolute;
        top: 0%;
        right: 0%;
        overflow: hidden;
        margin: .5em 1em;
        
        transition: .5s;
    }

    .menu-res.anim{
        transform: rotate(180deg);
      
    }

    .menu-res img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
       
    }

    .menu2{
        display: inline-block;
        position: fixed;
        width: 100%;
        height: calc(100% - 5em);
        background-color: #333;
        color: #fff;
        z-index: 30;
        margin-top: 5em;
        overflow: hidden;
        padding: 1em;
        top: -100%;
        transition: .5s;
    }

    .menu2 div{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4,22%);
        gap: 1em;
        width: 100%;
        height: 100%;
        text-decoration: none;
        grid-auto-flow: column;
        overflow: visible;
    }

    .menu2 div a {
        background-color: #ffd45f;
        font-size: 2em;
        display: flex;
        padding: 0%;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        color: #333;
        text-decoration: none;
        overflow: visible;
        font-weight: 700;
    
        
    }

    .menu2 div a:first-child{
        grid-column-start: span 2;
        width: 95%;
    }

    .menu2 div a:nth-child(2){
        height: 150%;
    
    }

    .menu2 div a:nth-child(3){
        margin-top: 3em;
        clip-path: circle(50% at 50% 50%);
        height: 125%;
        width: 90%;
    
    }

    .menu2 div a:nth-child(4){
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        width: 90%;
        position: relative;
    }

    .menu2 div a:nth-child(4) span{
        transform: rotate(-90deg);
    }

    

    

    


    div.wait{
    
        width: 100%;
        height: 70vh;
        margin-top: 10em;
        
    }
    
    div.wait div{
        overflow: hidden;
        width: 100%;
        height: 40%;
        position: relative;

    }
   
    
  
    div.wait h2{
        width: 90%;
        margin-top: 1em;
        font-size: 2.2em;
        text-align: center;
    }
   


   


}









