@font-face {
    font-family: 'Oleo Script';
    src: url(OleoScript-Regular.ttf);
}

body{
    color: #333;
    font-family: sans-serif;
    background-color: rgb(255, 250, 202);
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 300px;
    height: 300px;
}

header{

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    transition: .5s;
    
}


header.sticky{
    margin: 0;
    background-color: rgba(255, 244, 147, 0.658);
    
    backdrop-filter: blur(15px);
}

header .logo{
    margin: 2em 4em;
    border: 3px solid #333;
    border-radius: 3px;
    padding: .5em 1em;
    cursor: pointer;
    box-shadow: 
    0.1em 0.1em 0 #333,
    0.2em 0.2em 0 #333;
}

header .logo a{
    text-decoration: none;
    color: #333;
    text-shadow: 
    0.1em 0.1em 0 rgb(255, 242, 124),
    0.2em 0.2em 0 #80793E,
    0.3em 0.3em 0 #CCC8A1
    
    ;

}


header .logo a h1{
    font-size: 4em;
    font-family: monospace;
 
}

.menu-res{
    display: none;
}

.menu{
    margin-right: 3.1em;
}


.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu ul li{
    margin: 2em;
    font-size: 1.5em;
    cursor: pointer;
    padding: .3em 0;
    font-weight: 700;
    
}

.menu ul li a{
    text-decoration: none;
    color: #333;
}

div.wait{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 12em;
}

div.wait div{
    overflow: hidden;
    width: 300px;
    height: 300px;
    position: relative;

}
div.wait div img{
    width: 100%;
    position: relative;
    top: -10px;
}

div.wait div .star{
    overflow: hidden;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20%;
    right: 10%;
 
}


div.wait div .star img{
   width: 60px;
   height: 60px;
   position: relative;
    top: 10px;
}



div.wait h2{
    margin: 2em;
    font-size: 3em;
}


#menubox{
    position: fixed;
    z-index: 1000;
    top: 5%;
    width: 90%;
    height: 90%;
    left: 5%;
    background-color: rgba(255, 244, 147, 0.658);
    display: none;
    border-radius: 5px;
    backdrop-filter: blur(15px);
}


 #menubox.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x{
    font-family: monospace;
    font-weight: 900;
    font-size: 7em;
    line-height: 0%;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 1em;
    height: 1em;
}

.x.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


ul.active{
    margin: 0%;
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    align-items: flex-start;
    
}


#menubox ul.active li{
    position: relative;
    font-size: 2em;
    width: 4em;
    height: max-content;
    cursor: pointer;
    line-height: 1.7em;
    font-weight: 800;
    overflow: visible;
    margin-left: 20%;
    width: max-content;
    
    
}

#menubox ul.active li:hover{
    border-bottom: solid 5px #333;
    
}


#menubox ul.active li a{
    text-decoration: none;
    color: #333;
}

@media (max-width: 600px){

    *{
        overflow: hidden;
    }

    body{
        width: 100%;
    }

    header {
        margin: 0;
    }

    header .logo{
        margin: 2em 2em;
        border: 3px solid #333;
        border-radius: 3px;
        padding: .5em 1em;
        cursor: pointer;
        box-shadow: 3px 3px 0px #333, 2px 3px 0px #333, 3px 2px 0px #333;
    }

    header .logo a h1{
        font-size: 3em;
        overflow: visible;
       
    }


    .menu{
        display: none;
    }

    .menu-res{
        display: inline-block;
        width: 30%;
        height: 90%;
        margin: 1em 0;
        cursor: pointer;
        position: absolute;
        top: 0%;
        right: 0%;
        
    
    }

    .menu-res img{
        width: 90%;
        height: 90%;
        object-fit: cover;
        object-position: top;
    
    }

    div.wait{
    
        width: 100%;
        height: 70vh;
        margin-top: 10em;
        
    }
    
    div.wait div{
        overflow: hidden;
        width: 100%;
        height: 40%;
        position: relative;

    }
   
    
  
    div.wait h2{
        width: 90%;
        margin-top: 1em;
        font-size: 2.2em;
        text-align: center;
    }
   


}





